#frequency {
    width: 50%;
}

.frequency_range {
    width: 50%;
}

.frequency_display {
    display: inline-block;
    width: 35px;
}

.volume_range {
    width: 20%;
}

.play_pause {
    width: 60px;
}

.compare {
    width: 80px;
}

#play_pause_samp {
    width: 60px;
}

#dlNotes {
    display: list-item;
    font-size: 7px;
}

.interval {
    display: inline-block;
    width: 50px;
}

.disp {
    display: inline-block;
    width: 65px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 100%;
    margin: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 75%;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}
