#frequency {
    width: 50%;
}

.frequency_range {
    width: 50%;
}

.play_pause {
    width: 60px;
}

#play_pause_samp {
    width: 60px;
}

#dlNotes {
    display: list-item;
    font-size: 7px;
}
